{% extends 'profile.html.twig' %}
{% block name %} Modifier Casting {% endblock %}
{% block content %}
    <div style="text-align: center;">

    {{ form_end(edit_form) }}
    </div>

{% endblock %}

