{% extends 'profile.html.twig' %}

{% block title %} Modifier Commentaire {% endblock %}
{% block name %}Modification{% endblock %}
{% block content %}
    <div class="musica-buttons-area mb-30">
        <div class="contact-content">
            <div class="contact-form-area">
                <center>
                    {{ form(edit_form) }}
                </center>
            </div>
        </div>
    </div>
{% endblock %}
