{% extends 'profile.html.twig' %}
 {% block title %} Modifier Organisation {% endblock %}
 {% block name %} Modifier Organisation {% endblock %}
{% block content %}
<div style="text-align: center;">


            {{ form_end(edit_form) }}

</div>
            {% endblock %}

