{% extends 'profile.html.twig' %}
{% block name %} Ajouter Evenement {% endblock %}
{% block title %} Ajouter Evenement {% endblock %}
{% block content %}
    <div style="text-align: center;">

        {{ form(form) }}
    </div>

{% endblock %}
