{% extends 'profile.html.twig' %}
{% block name %} Modifier l'Evenement {% endblock %}
{% block title %} Modifier l'Evenement {% endblock %}
{% block content %}
   <div style="text-align: center;">

    {{ form_end(edit_form) }}
   </div>

{% endblock %}

